html,
body {
    height: 100%;
    background: #fff !important;
}

.table > tbody > tr > td {
   vertical-align: middle!important;
}

.alert {
    padding: 5px !important;
    margin-bottom:0px !important;
    border: 1px solid transparent;
    border-radius: 4px;
}
.thumbnail{
    margin-bottom: 2px !important;
}
@media(min-width:768px) {
    .content {
    margin-top: 50px !important;
}
}

@media(max-width:768px) {
    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0% !important;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
}
    .content {
    margin-top: 100px !important;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px !important;
    border-radius: 4px;
    font-size: 7px;
}
}
table {
    margin-bottom: 5px !important;
    }
.content-wrapper {
 // width: 100%;
  float: none;
 // position: absolute;
  box-shadow: none;
 overflow: visible;
  min-height: 100%;
}
.line_bottom {
    border-bottom: solid #dedacb;
    border-width: 1px;
    padding-bottom: 4px;
    padding-top: 5px;
    color: #b1b1b1;
    font-size: 18px;
}
.table-responsive {
    border: 0px solid #ddd !important;
}
.main-header .logo{
    font-family: "Saysettha OT" !important;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.aa{
    position:absolute !important;
    padding-top: 5px;
    padding-right: 35px !important;
    text-align: right !important;
    color:red;
}

.errors {
    position: absolute !important;
}
.lin_pos{
    border-top: 2px solid #3c8dbc;
    border-radius: 2px;
    padding-top:2px !important;
}
.lin_pos_h{
    border-left: 2px #3c8dbc solid;
    padding-top: 0px;
}
.lin_pos_b{
    border-top: 2px #3c8dbc solid;
    padding-top: 2px;
}
.btn-box-tool {
     color: #FFF !important;
}